footer.footer
    .footer__icon 
        i.fas.fa-dungeon
    span.footer__text #{siteName}  #{new Date().getFullYear()} &copy;


//- footer 태그에 footer 라는 클래스 추가
//- .footer__icon / footer__text 두 개의 클래스 추가    
//- 분할해서 처리하는 것